
{% set navPages = collections.all | eleventyNavigation %}

<header class="w-full bg-gray-300 py-2">
  <nav class="navbar navbar-expand-lg bg-primary fixed-top" id="mainNav" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="/">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">

          {% for page in navPages %}
      
            <li class="nav-item">
              <a 
                class="nav-link {% if eleventyNavigation.key === page.key %}active{% endif %}" 
                aria-current="{% if eleventyNavigation.key === page.key %}true{% else %}false{% endif %}" 
                href="{{ page.url }}"
              >
                {{page.title}}
              </a>
            </li>
      
          {% endfor %}
      
        </ul>

      </div>
    </div>
  </nav>
</header>
