
<header id="site-header" class="site-header  top-0 left-0 fixed w-full bg-primary p-0 z-10">
  <nav class="navbar bg-primary-content" id="mainNav" >

      <div class="navbar-start">
        <a class="navbar-brand" href="/">Pivot 11ty Starter</a>
      </div>
      <div class="navbar-end" id="navbarResponsive">
        <ul class="menu menu-horizontal">

          {% include "nav-builder.njk" %}
        </ul>

      </div>

  </nav>
</header>
