{# 
PARAMS: 
id - used for pairing question and answer - just a prefix - random # added on
title - question displayed
parentId - used for controlling if multiple are open within accordion
#}

{% set itemID = params.id | generateRandomIdString %}

<div class="accordion-item">
  <h3 class="accordion-header">
    <button 
      class="accordion-button collapsed" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#collapse-{{ itemID }}" 
      aria-expanded="false" 
      aria-controls="flush-collapseOne"
    >
      <strong>{{ params.title | safe }}</strong>
    </button>
  </h3>
  <div 
    id="collapse-{{ itemID }}" 
    class="accordion-collapse collapse" 
    {% if 'parentId' in params %}
      data-bs-parent="#{{ params.parentId }}"
    {% endif %}
  >
    <div class="accordion-body">
      {{ content }}
    </div>
  </div>
</div>