//
// CSS antialiasing
//
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
// Bug fixes/overrides
//
html {
  scroll-padding-top: 3.5rem;
}

// body {
//   padding-top: 2.5rem;
// }

header {
  padding-top: 9.5rem;
  padding-bottom: 6rem;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}


.article {
  width: 100%;
  border-radius: 16px;
  background: $gray-300;
  padding: 2rem 3rem;
  margin-bottom: 20px;
}