---
layout: base
eleventyNavigation:
  key: About
  order: 2
meta:
  title: About us
  description: this is our about page.
---


<!-- Header-->
  <header class="bg-primary bg-gradient text-white">
      <div class="container">
          <h1 class="text-4xl mb-4">About Page Welcome to the Pivot 11ty Starter</h1>
          <p class="mb-4">A functional Bootstrap 5 boilerplate for one page scrolling websites and microsites</p>
          <a class="btn btn-light" href="#about">Start scrolling!</a>
      </div>
  </header>
  <!-- About section-->
  <section id="about">
      <div class="container">
            <h2 class="text-2xl mb-4">About this page</h2>
            <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
            <ul>
                <li>Clickable nav links that smooth scroll to page sections</li>
                <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                <li>Minimal custom CSS so you are free to explore your own unique design options</li>
            </ul>
      </div>
  </section>