<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>
    {% include "meta.njk" %}

    {% if site.buildMode == "production" %}
      {# PRODUCTION #}

      {% if noindex %}
        <meta name="robots" content="noindex">
      {% endif %}

    {% else %}
      {# DEV / STAGING #}
    
      {# Always noindex on staging #}
      <meta name="robots" content="noindex">

    {% endif %}

    <link rel="stylesheet" href="/fontawesome/fontawesome.min.css">
    <link rel="stylesheet" href="/fontawesome/brands.min.css">
    <link rel="stylesheet" href="/fontawesome/light.min.css">

    <noscript>
      <style>
        .gsap-cloak {
          visibility: inherit !important;
        }
      </style>
    </noscript>
  </head>

  <body id="page-top" class={{ "page-" + meta.title }}>

    {# {% include "header-dropdown.njk" %} #}
    {% include "header-offcanvas.njk" %}

    <div class="pd_ss_wrapper">

      <div class="pd_ss_inner">

        <main id="main" class="">
      
          {{ content | safe }}
  
        </main>

        {% include "footer.njk" %}

      </div>
    </div>

    <script type="module" src="{{ '/assets/js/index.js' | url }}"></script>
    
  </body>
</html>
