<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>
    {% include "meta.njk" %}

    <script src="https://kit.fontawesome.com/6c14141002.js" crossorigin="anonymous"></script>

    <noscript>
      <style>
        .gsap-cloak {
          visibility: inherit !important;
        }
      </style>
    </noscript>
  </head>

  <body id="page-top" class={{ "page-" + meta.title }}>

    {% include "header.njk" %}

    <div class="pd_ss_wrapper">

      <div class="pd_ss_inner">

        <main id="main" class="">
      
          {{ content | safe }}
  
        </main>

        {% include "footer.njk" %}

      </div>
    </div>

    <script type="module" src="{{ '/assets/js/index.js' | url }}"></script>
    
  </body>
</html>
